/* rubik-gemstones-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Gemstones';
    font-style: normal;
    font-weight: 1000;
    src: url('./fonts/rubik-gemstones-v1-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    font-family: 'Rubik Gemstones';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./img/5_background/first_half_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    margin: 0;
    height: 100dvh;
    width: 100%;
}

.menu {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu h1 {
    color: rgb(255, 212, 0);
    font-size: 64px;
    animation: pulse 1s infinite ease-in-out;
    text-shadow: 1px 1px 2px pink;
    padding: 10px 20px;
    width: 100%;
    max-width: 200px;
    height: 40px;
    max-height: 100%;
    text-align: center;
}

.buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-button {
    font-family: 'Rubik Gemstones';
    background-color: rgba(255, 145, 1, 0.562);
    border: 4px solid rgb(255, 132, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.menu-button:hover {
    cursor: pointer;
    color: rgb(255, 212, 0);
    transform: scale(1.2);
}

.start-overlay {
    font-family: 'Rubik Gemstones';
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: darkgrey;
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay-text {
    margin-top: 50px;
    color: rgb(255, 212, 0);
    font-size: 48px;
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        font-size: 48px;
    }

    50% {
        font-size: 60px;
    }

    100% {
        font-size: 48px;
    }
}

canvas {
    background-color: black;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.canvas-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 68%;
    max-width: 720px;
    aspect-ratio: 1 / 1;
    height: 100%;
    max-height: 480px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    position: absolute;
}

.adjustment-buttons {
    margin-top: 16px;
    display: flex;
    height: 100%;
    max-height: 55px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.adjustment-buttons img {
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.responsive-buttons-panel {
    display: none;
    height: 100%;
    max-height: 55px;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.responsive-buttons-panel img {
    height: fit-content;
    max-height: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.imprint-overlay {
    background-image: url("./img/5_background/first_half_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 10000;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imprint {
    padding: 100px;
}

#closeImprintBtn {
   
}

.game-lost-overlay {
    z-index: 1000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-lost-overlay img {
    width: 100%;
    height: 100vh;
}

.game-end-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    max-width: 500px;
    width: 100%;
    gap: 20px;
}


.game-won-overlay {
    z-index: 1000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-won-overlay img {
    width: 80%;
    height: auto;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orangered;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0px 20px;
    margin-top: 20px;
    color: rgb(65, 35, 2);
    gap: 30px;
}

.description-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.description img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.d-none {
    display: none;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    body {
        background-size: contain;
        background-position: top;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100dvh;
    }
}

@media only screen and (max-height: 695px) {
    .responsive-buttons-panel {
        display: flex;
    }

    .description {
        display: none;
    }
}

@media (hover: none) and (pointer: coarse) {
    .responsive-buttons-panel {
        display: flex;
    }

    .description {
        display: none;
    }
}

@media (hover: hover) and (pointer: fine) {
    .responsive-buttons-panel {
        display: none;
    }

    .description {
        display: flex;
    }
}

@media (orientation: portrait) {
    .orientation-overlay {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: absolute;
        z-index: 9999;
        height: 100dvh;
        width: 100%;
        background-image: url("./img/5_background/first_half_background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (orientation: landscape) {
    .orientation-overlay {
        display: none;
    }
}